@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
    background-color: #ffffff;
    font-family: 'PT Mono', monospace;
}

.elements-table {
    display: flex;
}

.row {
    display: flex;
    flex-direction: column;
}

.element {
    background-color: rgba(0, 0, 0, 0);
    width: 60px;
    height: 80px;
    margin: 4px;
    padding: 12px 18px 12px 10px;
    transition: 0.5s ease;
}

.element:hover {
    cursor: pointer;
}

#blankspace {
    border: none;
    padding: 14px 16px;
}

#blankspace:hover {
    cursor: default;
    box-shadow: none;
}

.element h1, h5, h6 {
    text-align: left;
    margin: 0;
}

#Alkaline-earth-metals {
    color: #ffd900;
    border: 2px solid #ffd900;
}

#Alkali-metals {
    color: #ff8800;
    border: 2px solid #ff8800;
}

#Reactive-nonmetals {
    color: #00ff55;
    border: 2px solid #00ff55;
}

#Transition-metals {
    color: #ff0037;
    border: 2px solid #ff0037;
}

#Undefined {
    color: #303030;
    border: 2px solid #303030;
}

#Alkaline-earth-metals:hover {
    color: #ffffff;
    background-color: #ffd900;
}

#Alkali-metals:hover {
    color: #ffffff;
    background-color: #ff8800;
}

#Reactive-nonmetals:hover {
    color: #ffffff;
    background-color: #00ff55;
}

#Transition-metals:hover {
    color: #ffffff;
    background-color: #ff0037;
}

#Undefined:hover {
    color: #ffffff;
    background-color: #303030;
}